<div class="reddit-body">
    <div class="container">
        <div class="row">
            <hr />
            <div class="col-md-9">
                <div class="row post">
                    <div class="col-md-1">
                        <div class="d-flex flex-column votebox">
                            <div class="p-2">
                                <fa-icon class="upvote" [icon]="faArrowUp"></fa-icon>
                            </div>
                            <div class="p-2 votecount">{{post.votesNum}}</div>
                            <div class="p-2">
                                <fa-icon class="downvote" [icon]="faArrowDown"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <span class="subreddit-info">
                            <span class="subreddit-text"><a class="posturl" href="">{{post.subredditName}}</a></span>
                            <span> . Posted by <a class="username" href="">{{post.userName}}</a></span>
                            <span>5 hours ago</span>                            
                        </span>
                        <hr />
                        <a href="post.url" class="post-title">{{post.postName}}</a>
                        <img [src]="post.url.image">
                        <div>
                            <p class="post-text">{{post.description}}</p>
                        </div>
                        <hr />
                        <span>
                            <p>Comment as <a href="">{{post.userName}}</a></p>
                        </span>
                        <hr />
                        <div class="post-comment">
                            <form (ngSubmit)="postComment()">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Thoughts?"></textarea>
                                </div>
                                <button class="login float-right">Comment</button>
                            </form>
                        </div>
                        <div>
                            <div style="margin-top: 60px;">
                                <div class="comment">
                                    <div class="username"><a href="/user">ProgrammingTechie</a></div>
                                    <p>This is super tutorial! Liked and Subscribed to the Channel!!</p>
                                </div>
                                <div class="comment">
                                    <div class="username"><a href="/user">ProgrammingTechie</a></div>
                                    <p>Thank you!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <sidebar></sidebar>
                <sidebar-view-subreddit></sidebar-view-subreddit>
                <about></about>
            </div>
        </div>
    </div>
</div>