<div class="reddit-body">
    <div class="container">
        <div class="row">
            <hr />
            <div class="posts-container col-md-9">
                <h2>List of Subreddits</h2>
                <ul>
                    <li><a routerLink="/view-subreddit">/r/promote-your-content</a></li>
                    <li><a routerLink="/view-subreddit">/r/introduction</a></li>
                    <li><a routerLink="/view-subreddit">/r/funfacts</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <sidebar></sidebar>
                <about></about>
            </div>
        </div>
    </div>
</div>