<div class="container">
    <div class="row">
        <hr />
        <div class="createpost-container col-md-9">
            <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
                <div class="form-group">
                    <div class="createpost-heading">Create Post</div>
                    <hr />
                    <input type="text" [formControlName]="'postName'" class="form-control" style="margin-top: 5px" placeholder="Title">
                    <input type="text" class="form-control" [formControlName]="'url'" style="margin-top: 5px" placeholder="URL">
                    <select class="form-control" style="margin-top: 10px" [formControlName]="'subredditName'">
                        <option value="" selected disabled>Select Subreddit</option>
                        <option *ngFor="let subreddit of subreddits">{{subreddit.name}}</option>                        
                    </select>
                    <editor [formControlName]="'description'" style="margin-top: 10px" apiKey="test" [init]="{plugins: 'link'}"></editor>
                    <span>
                        <div class="form-check float-left" style="margin-top: 10px">
                            <input class="form-check-input" type="checkbox" value="" id="commentCheckBox" checked>
                            <label class="form-check-label" for="commentCheckBox">
                                Send Comment Notifications
                            </label>
                        </div>
                        <div style="margin-top: 5px" class="float-right">
                            <button (click)="discardPost()" class="btnCreateSubreddit">Discard</button>
                            <button class="btnCreatePost">Post</button>
                        </div>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <guidelines></guidelines>
            <about></about>
        </div>
    </div>
</div>