<div class="about">
    <ul style="color: black; font-weight: bold">
        <li>Created by - Sai Upadhyayula</li>
        <li>Check out my website - <a href="http://programmingtechie.com">ProgrammingTechie</a><br />
        </li>
        <li>Check out my <a href="https://www.youtube.com/channel/UCD20RZV_WHQImisCW2QZwDw">YoutubeChannel</a><br />
        </li>
        <li>Source Code - <a href="https://github.com/SaiUpadhyayula/spring-reddit-clone">here</a><br />
        </li>
        <li>Icons taken from <a href="https://www.reddit.com/">Reddit</a></li>
    </ul>
</div>